.f-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #A6E4F6; 
}

.left-container {
    width: 80%;
    height: 100%;
    position: relative;
    background-image: url('forgotpassword.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 10px; 
}

.right-container {
    width: 20%;
    padding: 10px;
    /* background-color: #E5E5E5; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button {
    width: 30%;
    padding: 10px;
    background-color: #1B4375;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}