.f-container-set-password{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #A6E4F6; 
}


.left-container-set-password{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    /* background-image: url('forgot.jpg');  */
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
     /* background-color : #A6E4F6; */
    background-color: #ffffff;
}
.right-container-set-password{
    position: absolute;
    right: 0;
    width: 50%; /* Set the width to 40% to complement the 60% width of the left container */
    height: 100%; /* Ensure it spans the full height of the parent container */
    padding: 20px; /* Adjust padding as needed */
    /* background-color: #A6E4F6; */
    /* background-color: #E5E5E5; */
    background-color : #A6E4F6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container-set-password {
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* .form-container-set-password {

    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 20px; 
    background-color: #A6E4F6;
    background-color: #E5E5E5;
    background-color : #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.heading-set-password{
    text-align: center;
}

.input-field-set-password {
    width: calc(100% - 22px); /* Adjust for padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button-set-password {
    width: 30%;
    padding: 10px;
    background-color: #1B4375;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center; 
    margin-top: 10px; 
    margin-left: 10px;
}
