.s-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 20px;
}

.left-container {
    width: 40%; 
    border-radius: 10px;
    overflow: hidden; 
}


.forgot-image {
    width: 100%;
    height: auto;
}

.right-container {
    width: 70%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */

}


.heading {
    text-align: center;
}

.form-container {
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.input-field {
    width: calc(100% - 22px); /* Adjust for padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button {
    width: 30%;
    padding: 10px;
    background-color: #1B4375;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center; 
    margin-top: 10px; 
    margin-left: 10px;
}
