#deletePrfoileCnf {
    position: flex;
    height: 100%;
    width: 100%;  
}

#deletePrfoileCnfTopbar {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    /* height: 25%; */
    /* z-index: 1;  */
}

#bewareLogo{
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 1;
    background-color: #E5E5E5;
}

#rectangle135{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#deletePrfoileCnfMain {
    position: absolute;
    /* padding: 5%; */
    padding-top: 1%;
    padding-bottom: 2%;
    top: 25%;
    background-color: #ffffff;
    border: 2px solid #000; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align-items: center;
    z-index: 2;
}

#deletePrfoileCnfMain h2{
    color: #1B4375;
}

#deletePrfoileCnfMain img{
    /* width: 150px;
    size: 150px; */
    width: 25%;
    size: 25%;
    
}

/* .centered-image {
    display: block;
    margin: 0 auto;
} */

#deletePrfoileCnfBtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#deletePrfoileCnfBtn button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #A6E4F6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

#deletePrfoileCnfBtn button:hover {
    background-color: #0056b3;
}

#deletePrfoileYesBtn button:hover{
    background-color: #9c0505;
}

#deletePrfoileCancelBtn button:hover{
    background-color: #28d218;
}

td {
    padding: 0 50px;
}